[submodule "openthread"]
	path = openthread
	url = https://github.com/openthread/openthread.git
[submodule "openthread-ccm"]
	path = openthread-ccm
	url = https://github.com/EskoDijk/openthread.git
	branch = pr-ccm
