<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OTNS2 - OpenThread Network Simulator 2</title>

    <style>
        textarea {
            resize: none;
        }
    </style>
</head>
<body>

<script language="javascript">
    let server = "http://{{index . "addr"}}";
</script>
<script src="/static/js/visualize.js"></script>

<div style="position: absolute; top: 0px; right: 0px;">
    <textarea readonly id="nodeWindow" rows="14" cols="32">
    </textarea>
</div>

</body>
</html>
